body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
}

h2 {
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  background-color: #EFF9;
  position: relative;
  padding-top: 100px;
}

.middle-container {}

.bottom-container {}

.bottom-cloud {
  position: absolute;
}

.top-cloud {
  position: absolute;
  right: 450px;
  top: 50px;
}
